<div class="grid-container">
    <header class="header">
      <h1>Reserva de Restaurante</h1>
    </header>

    <nav class="sidebar">
      <ul>
        <li><a routerLink="/cliente"  routerLinkActive="active">Clientes</a></li>
        <li><a routerLink="/funcionario" routerLinkActive="active">Funcionários</a></li>
        <li><a routerLink="/mesa" routerLinkActive="active">Mesas</a></li>
        <li><a routerLink="/pedido" routerLinkActive="active">Pedidos</a></li>
        <li><a routerLink="/reserva" routerLinkActive="active">Reservas</a></li>
        <li><a routerLink="/restaurante" routerLinkActive="active">Restaurantes</a></li>
      </ul>
    </nav>

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
